<div class="container">
  <div class="navbar is-transparent" style="background: transparent;">
    <div class="navbar-brand">
      <a href="/" class="navbar-item">
        <img src="/images/logo.png" alt="Go to the main page" title="Go to the main page">
      </a>

      <div class="navbar-burger burger" data-target="mainMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
    </div>

    <div class="navbar-menu" id="mainMenu">
      <div class="navbar-end">
        <a href="/login" class="navbar-item">Log in</a>
        <a href="/signup" class="navbar-item">Sign up</a>
      </div>
    </div>
  </div>
</div>
