//
// 1. Import&change Bulma&our variables&fonts
//

// 1. 1. Import Bulma initial vars, functions & our general styles
@import "./../../node_modules/bulma/sass/utilities/initial-variables"
@import "./../../node_modules/bulma/sass/utilities/functions"
@import "./variables"
@import "./fonts"

// 1. 2. Set Bulma's initial vars
$primary: #1974d2 // eb0000
$primary-invert: findColorInvert($primary)

// 1. 3. Set Bulma's derived vars
// General vars
$family-sans-serif: "Arimo", $family-sans-serif

// <input>
$input-hover-border-color: $grey-lighter
$input-shadow: none

// button
$button-focus-box-shadow-size: 0

//
// 2. Import Bulma framework
//

// 2. 1. Utilities & base
@import "./../../node_modules/bulma/sass/utilities/_all"
@import "./../../node_modules/bulma/sass/base/_all"

// 2. 2. Components
@import "./bulma/components/card"
@import "./../../node_modules/bulma/sass/components/dropdown"
@import "./../../node_modules/bulma/sass/components/media"
@import "./../../node_modules/bulma/sass/components/menu"
@import "./../../node_modules/bulma/sass/components/message"
@import "./bulma/components/navbar"
@import "./../../node_modules/bulma/sass/components/pagination"

// 2. 3. Elements
@import "./../../node_modules/bulma/sass/elements/box"
@import "./bulma/elements/button"
@import "./../../node_modules/bulma/sass/elements/container"
@import "./bulma/elements/form"
@import "./bulma/elements/icon"
@import "./../../node_modules/bulma/sass/elements/image"
@import "./../../node_modules/bulma/sass/elements/notification"
@import "./../../node_modules/bulma/sass/elements/other"
@import "./bulma/elements/tag"
@import "./../../node_modules/bulma/sass/elements/title"

// 2. 4. Grid
@import "./../../node_modules/bulma/sass/grid/_all"

// 2. 5. Layout
@import "./bulma/layout/footer"
@import "./../../node_modules/bulma/sass/layout/hero"
@import "./../../node_modules/bulma/sass/layout/section"

// 2. 6. Bulma extensions
@import "./bulma/ext/tooltip"
@import "./bulma/ext/checkradio"

.card
  box-shadow: none
  border: 1px solid $grey-lighter

//
// 3. Import our stylesheets
//

@import "./general"
