// utilities
@import "./../../node_modules/bulma/sass/utilities/initial-variables"

$gtaonlinecolor: #b80000
$gtaonlinecolor-invert: #ffffff

$primary: $gtaonlinecolor
$primary-invert: $gtaonlinecolor-invert

// base

@import "./../../node_modules/bulma/sass/utilities/_all"
@import "./../../node_modules/bulma/sass/base/_all"

// components
@import "./../../node_modules/bulma/sass/components/card"
@import "./../../node_modules/bulma/sass/components/media"
@import "./../../node_modules/bulma/sass/components/navbar"

// elements
@import "./../../node_modules/bulma/sass/elements/button"
@import "./../../node_modules/bulma/sass/elements/form"
@import "./../../node_modules/bulma/sass/elements/image"
@import "./../../node_modules/bulma/sass/elements/tag"
@import "./../../node_modules/bulma/sass/elements/title"

// grid
@import "./../../node_modules/bulma/sass/grid/columns"

// layout
@import "./../../node_modules/bulma/sass/layout/_all"