{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:vue/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {"devDependencies": ["build/*.js"]}
    ],
    "linebreak-style": ["error", "windows"],
    "prefer-const": 0,
    "prefer-destructuring": 0,
    "no-console": 0,
    "no-return-await": 0,
    "no-plusplus": 0,
    "object-curly-newline": 0
  }
}
