<section class="hero is-warning is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        500
      </h1>
      <h2 class="subtitle">
        Internal Server Error
      </h2>
      <p>
        <img src="/images/500.gif">
      </p>
      <p>
        We are trying to solve this problem.
      </p>
    </div>
  </div>
</section>
