<section class="section">
  <div class="container">
    <h1 class="title">
      Admin panel
    </h1>

    <div class="columns">
      <div class="column is-3">
        <aside class="menu">
          <p class="menu-label">
            Crews
          </p>
          <ul class="menu-list">
            <li><a class="is-active">Crew list</a></li>
            <li><a>Add crew</a></li>
          </ul>
        </aside>
      </div>

      <div class="column">
        {{> crews}}
      </div>
    </div>


    <div class="tile is-ancestor">
      <div class="tile is-parent is-5">
        <div class="tile is-child box">
          <h2 class="title is-4">Add a crew</h2>
          <form name="upload">
            <div class="field">
              <label class="label" for="url">
                Crew URL
              </label>
              <div class="control">
                <input class="input" name="url" id="url" type="text" placeholder="https://socialclub.rockstargames.com/crew/crew_name_here" autocomplete="off">
              </div>
            </div>

            <div class="field">
              <div class="control">
                <button class="button is-primary" name="send">Add a crew</button>
              </div>
            </div>
          </form>

          <br>
          <h2 class="title is-4">Upload raw jobs</h2>
          <a class="button is-primary" href="/admin/uploadraw" target="_blank">
            Upload raw jobs
          </a>
        </div>
      </div>

      <div class="tile is-parent">
        <div class="tile is-child box">
          <h2 class="subtitle is-4">List of crews</h2>
          <div class="field is-grouped">
            <p class="control">
              <a class="button is-primary is-small" href="/admin/fetch?type=rockstar" target="_blank">
                Fetch rockstar jobs
              </a>
            </p>
            <p class="control">
              <a class="button is-primary is-small" href="/admin/fetch?type=rstarverified" target="_blank">
                Fetch rockstar verified jobs
              </a>
            </p>
          </div>
          {{!-- {{> crews}} --}}
        </div>
      </div>
    </div>

    <p id="response"></p>
  </div>
</section>
