{{> menu}}

<section class="section">
  <div class="container">
    <h1 class="title">
      Admin panel
    </h1>

    <form name="upload">
      <div class="field">
        <label class="label" for="link">
          Link to the profile, crew, or job
        </label>
        <div class="control">
          <input class="input" name="link" id="link" type="text" placeholder="Link to RGSC site">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-primary" name="send">Upload jobs</button>
        </div>
      </div>
    </form>

    <p id="response"></p>
  </div>
</section>

<script src="/js/upload.js" async></script>
