{{> menu}}

<section class="section">
  <div class="container">
    <h1 class="title">
      Admin panel
    </h1>

    <div class="tile is-ancestor">
      <div class="tile is-parent is-5">
        <div class="tile is-child box">
          <h2 class="subtitle is-4">Add a crew</h2>
          <form name="upload">
            <div class="field">
              <label class="label" for="url">
                Crew URL
              </label>
              <div class="control">
                <input class="input" name="url" id="url" type="text" placeholder="https://socialclub.rockstargames.com/crew/crew_name_here" autocomplete="off">
              </div>
            </div>

            <div class="field">
              <div class="control">
                <button class="button is-primary" name="send">Add a crew</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="tile is-parent">
        <div class="tile is-child box">
          <h2 class="subtitle is-4">List of crews</h2>
          {{> crews}}
        </div>
      </div>
    </div>

    <p id="response"></p>
  </div>
</section>

<script src="/js/upload.js" async></script>
