<section class="hero is-{{cssClass}} is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">{{code}}</h1>
      <h2 class="subtitle is-4">{{name}}</h2>
    </div>
  </div>
</section>
<br>
