<div class="container">
  <h1 class="title is-4">
    GTA Online Jobs Search
  </h1>
  <h2 class="title is-5">
    Platform
  </h2>
  <p>
    <span class="tag is-primary is-medium">
      <img src="/images/PC.png"> PC
    </span>

    <span class="tag is-medium">
      <img src="/images/Ps4_.png"> PS4
    </span>

    <span class="tag is-medium">
      <img src="/images/XBoxOne_.png"> Xbox One
    </span>

    <span class="tag is-medium is-white">
      • • •
    </span>
  </p><br>
  <h2 class="title is-5">
    What do you prefer?
  </h2>
  {{!-- 1) Противостояние (только R*)
2) Противоборство (только R*)
3) Перестрелка
	Перестрелка
	Командный бой
	Автоперестрелка (вообще только R*, но делают багами)
4) Выживание (только R*)
5) Захват (подтипы невозможно узнать у пользовательских дел!)
	Рейд
	Налёт
	GTA
	Перехват
6) КУ
7) Парашютизм (только R*, то, что сделано багами - в это не играют на PC)
8) Гонка --}}

  <p>
    <span class="tag is-primary is-medium">
      All
    </span>

    <span class="tag is-medium is-dark">
      Race
    </span>

    <span class="tag is-medium is-dark">
      Deathmatch
    </span>

    <span class="tag is-medium is-dark">
      Last Team Standing
    </span>

    <span class="tag is-medium is-dark">
      Capture
    </span>

    <span class="tag is-medium is-white">
      • • •
    </span>
  </p>

  <section class="section">
    {{> jobs}}
  </section>
</div>
