<section class="section">
  <div class="container">
    <h1 class="title">
      GTA Online Jobs Search
    </h1>
    <h2 class="title is-5">
      Platform
    </h2>
    <div class="tags has-addons">
      <span class="tag is-dark is-medium">
        <img src="/images/PC.png" style="margin-right: 4px"> PC
      </span>

      <span class="tag is-medium">
        <img src="/images/Ps4_.png" style="margin-right: 4px"> PS4
      </span>

      <span class="tag is-medium">
        <img src="/images/XBoxOne_.png" style="margin-right: 4px"> Xbox One
      </span>

      <span class="tag is-medium is-white">
        • • •
      </span>
    </div>

    <h2 class="title is-5">
      Type
    </h2>
    <div class="tags has-addons">
    {{!-- 1) Противостояние (только R*)
  2) Противоборство (только R*)
  3) Перестрелка
    Перестрелка
    Командный бой
    Автоперестрелка (вообще только R*, но делают багами)
  4) Выживание (только R*)
  5) Захват (подтипы невозможно узнать у пользовательских дел!)
    Рейд
    Налёт
    GTA
    Перехват
  6) КУ
  7) Парашютизм (только R*, то, что сделано багами - в это не играют на PC)
  8) Гонка --}}

      <span class="tag is-dark is-medium">
        All
      </span>

      <span class="tag is-medium">
        Race
      </span>

      <span class="tag is-medium">
        Deathmatch
      </span>

      <span class="tag is-medium">
        Last Team Standing
      </span>

      <span class="tag is-medium">
        Capture
      </span>

      <span class="tag is-medium is-white">
        • • •
      </span>
    </h2>
  </div>
</section>

<section class="section">
  <div class="container">
    {{> jobs}}
  </div>
</section>
