{{> menu}}

<section class="section">
  <div class="container">
    {{#if locals.partials.jobsContext}}
      {{> jobs}}
    {{else}}
      <article class="message is-danger">
        <div class="message-body">
          <p class="subtitle is-4">No jobs found on your request.</p>
        </div>
      </article>
    {{/if}}
  </div>
</section>
