@import "@bulma/utilities/initial-variables";
@import "@bulma/utilities/functions";
@import "./vars";

$primary: $rockstar-light;
$primary-invert: findColorInvert($primary);

$success: hsl(161, 60%, 43%); // 151, 71%, 48%
$warning: hsl(48, 95%, 60%); // 100%, 67%
$danger: hsl(348, 90%, 47%); // 100%, 61%

$body-background-color: $white-ter;

$family-primary: "Lato", sans-serif;

// input
$input-hover-border-color: $grey-lighter;
$input-shadow: none;

// section
$section-padding: 1rem 1rem; // 3rem 1.5rem

// button
$button-focus-box-shadow-size: 0;

$button-color: $grey-dark;
$button-hover-color: $black-ter;

$button-background-color: $grey-lighter;
$button-hover-background-color: $gtaonline;

$button-border-color: transparent;
$button-hover-border-color: $button-border-color;
$button-active-border-color: $button-border-color;
