@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

@import "./custom-vars";

// $primary: #a6caf0;
$primary: #ed9a6d;
$primary-invert: findColorInvert($primary);
// $primary-invert: #ffffff;

$success: hsl(161, 60%, 43%); // 151, 71%, 48%
$warning: hsl(48, 95%, 60%); // 100%, 67%
$danger: hsl(348, 90%, 47%); // 100%, 61%

$body-background-color: $white-ter;

$family-primary: "Lato", sans-serif;

//
// Bulma derived variables
//

@import "~bulma/sass/utilities/derived-variables";

// input
$input-hover-border-color: $grey-lighter;
$input-shadow: none;

// section
$section-padding: 1rem 1rem; // 3rem 1.5rem

// button
.button {
  @extend .button;
  font-family: 'Oswald';
  transition-duration: $speed;
}

$button-focus-box-shadow-size: 0;

// $button-color: $grey-dark;
// $button-hover-color: $black-bis;

// $button-background-color: $white-ter;

$button-border-color: $grey-lighter;
$button-hover-border-color: $grey-light;
$button-active-border-color: $button-hover-border-color;
$button-focus-border-color: $button-border-color;

// navbar
$navbar-height: 4rem;
$navbar-item-color: $white;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: rgba($black, 0.15);

$navbar-dropdown-arrow: $white;
$navbar-dropdown-border-top: none;
$navbar-dropdown-background-color: $dark;

$navbar-tab-hover-background-color: rgba($black, 0.15);

// tabs
$tabs-border-bottom-width: 2px; // 1px
$tabs-border-bottom-color: transparent; // $border
$tabs-link-padding: 0.5em 0; // 0.5em 1em

.tabs li:not(:first-of-type) {
  margin-left: 1em;
}

// pagination
$pagination-margin: 0;
$pagination-border-color: $rockstar;
$pagination-current-color: $gtaonline;
$pagination-current-background-color: $rockstar;
$pagination-hover-border-color: $pagination-border-color;
$pagination-focus-border-color: $pagination-border-color;
$pagination-active-border-color: $pagination-border-color;

// footer
$footer-background-color: $dark;
