// *** Main files ***

@import "./fonts";
@import "./vars";

// *** Setup Bulma ***

// Import Bulma initial vars, functions
@import "utilities/initial-variables";
@import "utilities/functions";

$primary: #1974d2; // eb0000
$primary-invert: findColorInvert($primary);

$success: hsl(161, 60%, 43%); // 151, 71%, 48%
$warning: hsl(48, 95%, 60%); // 100%, 67%
$danger: hsl(348, 90%, 47%); // 100%, 61%

$body-background-color: $white-ter;

$family-primary: "Lato", sans-serif;

// input
$input-hover-border-color: $grey-lighter;
$input-shadow: none;

// button
$button-focus-box-shadow-size: 0;

// button
$button-background-color: $grey-lighter;
$button-color: $grey-dark;
$button-hover-color: $grey-darker;
$button-border-color: transparent;
$button-hover-border-color: $button-border-color;
$button-active-border-color: $button-border-color;

.button:hover {
  background: $main-gradient-light;
}

// section
$section-padding: 1rem 1rem; // 3rem 1.5rem

// dropdown
$dropdown-content-shadow: none;
$dropdown-item-active-background-color: $white-ter;
$dropdown-item-active-color: $grey-dark;

// box
// 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1)

// notification
// $notification-padding: 0.5rem; // 1.25rem 2.5rem 1.25rem 1.5rem

// menu
// $menu-item-radius: 0; // $radius-small

// *** Bulma framework ***

@import "utilities/_all";
@import "base/_all";

@import "components/card";
@import "components/media";
@import "components/menu";
@import "components/message";

@import "elements/box";
@import "elements/button";

@import "elements/container";
@import "elements/form";
@import "elements/icon";
@import "elements/image";
@import "elements/notification";
@import "elements/other";
@import "elements/title";
@import "elements/tag";

@import "grid/_all";

@import "layout/footer";
@import "layout/section";

@import "extensions/tooltip";
