@import "utilities/initial-variables";
@import "utilities/functions";
@import "./vars-custom";

$primary: $rockstar-light;
$primary-invert: findColorInvert($primary);

$success: hsl(161, 60%, 43%); // 151, 71%, 48%
$warning: hsl(48, 95%, 60%); // 100%, 67%
$danger: hsl(348, 90%, 47%); // 100%, 61%

$body-background-color: $white-ter;

$family-primary: "Lato", sans-serif;

$input-hover-border-color: $grey-lighter;
$input-shadow: none;

$button-focus-box-shadow-size: 0;

// $button-color: $grey-dark;
// $button-hover-color: $black-ter;

// $button-background-color: $grey-lighter;
// $button-hover-background-color: $gtaonline;

// $button-border-color: transparent;
// $button-hover-border-color: $button-border-color;
// $button-active-border-color: $button-border-color;

$section-padding: 1rem 1rem; // 3rem 1.5rem

$dropdown-content-shadow: none;
$dropdown-item-active-background-color: $white-ter;
$dropdown-item-active-color: $grey-dark;

$pagination-margin: 0;
$pagination-border-color: $rockstar;
$pagination-current-color: $gtaonline;
$pagination-current-background-color: $rockstar;
$pagination-hover-border-color: $pagination-border-color;
$pagination-focus-border-color: $pagination-border-color;
$pagination-active-border-color: $pagination-border-color;

$footer-background-color: rgb(0, 0, 0);
