$rockstar: hsl(220, 100%, 24%);

$gtaonline: hsl(0, 100%, 46%);
$gtaonline-dark: hsl(0, 100%, 26%);

$socialclub: hsl(40, 97%, 37%);

$main-gradient: linear-gradient(
  to right,
  rgba($socialclub, 0.7),
  $gtaonline-dark,
  rgba($rockstar, 0.7)
);

$main-gradient-light: linear-gradient(
  to right,
  rgba($socialclub, 0.2),
  rgba($gtaonline-dark, 0.2),
  rgba($rockstar, 0.2)
);
